:root {
  --blue: #1e3d59; /* Headers/Large Text */
  --white: #f5f0e1; /* background */
  --orange: #ff6e40;
  --yellow: #ffc13b;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--white);
}

textarea {
  margin-top: 5px;
}

.sp {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.message {
  font-size: 18px;
  color: var(--blue);
}

.fl {
  width: 110px;
  margin-bottom: 5px;
}

.smallHeader {
  color: var(--blue);
  font-size: 25px;
}

.inputF {
  color: var(--yellow);
}

.userCreation {
  margin-bottom: 3px;
}

#pageHeader {
  font-size: 60px;
  color: var(--blue);
}

#headerUL {
  color: var(--yellow);
}

#tagline {
  color: var(--blue);
  font-size: 20px;
}

#owner {
  color: var(--orange);
}

#custInfo {
  margin-bottom: 15px;
}

#endMessage {
  margin-bottom: 25px;
}

#mi {
  width: 85px;
}

#orderForm {
  background: white;
  border: 1px solid black;
  width: 500px;
  margin: auto;
}
